main,footer,.logo{
    margin: auto;   
    width: 70%;
   
}


header{
    background-image: url(../IMG/pattern.png);
    background-size: contain; 
    background-color: rgb(0, 162, 255);
    background-position: center;

   
   



    
}
.logo{
    width: 30%;
    

}
.main-title{
    font-size: 40px;
}

.textblue{
    color: rgb(0, 110, 255);

}