body{
    margin: 0;
}



main,footer{
    margin: auto;   
    width: 70%;
    background-attachment: fixed;
}
main,footer{
    font-size: 15px;
}


header{
    background-image: url(../IMG/pattern.png);
    background-size: auto; 
    background-color: rgb(0, 162, 255);
    padding-bottom: 150px;  
    
}
.logo{
    width: 20%;
    text-align: justify;
   
    

}
.underline{
    background-color: yellow;

}
.main-title{
    font-size: 40px;
}

.textblue{
    color: rgb(0, 110, 255);

}

table{
    border-collapse: collapse;
    width: 100%;
}

tr,td {
    text-align: left;
    padding-right: 0px;
    padding-bottom: 0px;
    
  }

.element-table{
    background-color: rgb(74, 150, 249);
    color: white;
    

}
.white-row{
    background-color: white;
    color: black;
}




.subject-table{
    background-color: hsl(191, 100%, 50%);
    color: black;

}


.top-left{
    color: black;
    
}


.might{
    color: rgb(158, 155, 155);

}
   footer{
background-image: url(./IMG/monitor.jpg);

   }